.najamContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 5%;
    margin-bottom: 3%;
}

.otkaziBttn{
    margin-left: 2%;
    background: #d20000 !important;
    color: #fff !important;
}

.urediBttn{
    margin-left: 10%;
    background: #000d6b !important;
    color: #fff !important;
}

.vl{
    border-left: 3px solid #000d6b;
    height: 100px;
}

#nemaRezervacije{
    color: #d20000;
}