.postavljanjeDozvole{
    margin-top: 5%;
    margin-bottom: 10%;
    width: 100%;
    display: flex;    
    justify-content: center;    
    align-items: baseline;
    gap: 20px;
/*    border: solid #000d6b;
*/
}
